	    * {
	        padding: 0;
	        margin: 0;
	        box-sizing: border-box;
	    }
	    
	    .attribution {
	        font-size: 11px;
	        text-align: center;
	    }
	    
	    .attribution a {
	        color: hsl(228, 45%, 44%);
	    }
	    
	    .wrapper {
	        display: flex;
	        background-color: hsl(233, 47%, 7%);
	        flex-direction: column;
	        max-width: 1440px;
	        margin: 0 auto;
	    }
	    
	    .card {
	        display: flex;
	        padding: 100px;
	    }
	    
	    .card-content {
	        background-color: hsl(244, 38%, 16%);
	        max-width: 540px;
	        max-height: 445px;
	        flex: 2;
	    }
	    
	    .card-title {
	        font-family: 'Inter', sans-serif;
	        color: white;
	        font-size: 35px;
	        margin: 70px 100px 0 50px;
	    }
	    
	    .card-tittle-accent {
	        color: hsl(277, 64%, 61%);
	    }
	    
	    .card-text {
	        font-family: 'Lexend Deca', sans-serif;
	        color: rgb(180, 179, 177);
	        font-size: 15px;
	        margin: 10px 100px 0 50px;
	        line-height: 1.7;
	    }
	    
	    .cardstats {
	        display: flex;
	        flex-direction: row;
	        box-sizing: border-box;
	        justify-content: space-between;
	        margin: 70px 100px 0 50px;
	        font-family: 'Inter', sans-serif;
	        color: white;
	    }
	    
	    .cardstats-1 {
	        width: 30%;
	        order: 1;
	    }
	    
	    .cardstats-2 {
	        width: 30%;
	        order: 2;
	    }
	    
	    .cardstats-3 {
	        width: 30%;
	        order: 3;
	    }
	    
	    .card-image {
	        max-width: 100%;
	        flex: 1;
	        position: relative;
	    }
	    
	    .img-overlay {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 540px;
	        height: 446px;
	        background-color: rgba(129, 53, 177, 0.5);
	    }
	    
	    .uppercase {
	        color: rgb(180, 179, 177);
	        text-transform: uppercase;
	        font-size: 12px;
	        margin-top: 8px;
	        font-family: 'Lexend Deca', sans-serif;
	        align-items: center;
	    }
	    
	    @media (max-width: 1024px) {
	        .card-image img {
	            max-width: 300px;
	            max-height: 400px;
	        }
	        .card {
	            display: flex;
	            flex-direction: column;
	            padding: 40px 10px 40px 25px
	        }
	        .card-content {
	            max-width: 300px;
	            max-height: 600px;
	            order: 2;
	            padding: 20px 15px 25px 15px;
	            text-align: center;
	            border-bottom-left-radius: 3%;
	            border-bottom-right-radius: 3%;
	        }
	        .card-title {
	            font-size: 25px;
	            margin: 0 auto;
	            padding: 5px 5px 2px 5px;
	        }
	        .card-text {
	            font-size: 15px;
	            margin: 0 auto;
	            text-align: center;
	        }
	        .cardstats {
	            font-size: 15px;
	            display: flex;
	            flex-direction: column;
	            margin: 0 auto;
	            align-items: center;
	        }
	        .cardstats-1 {
	            padding-bottom: 20px;
	            padding-top: 10px;
	        }
	        .cardstats-2 {
	            padding-bottom: 20px;
	        }
	        .uppercase {
	            font-size: 10px;
	        }
	        .img-overlay {
	            max-width: 300px;
	            max-height: 247px;
	            border-top-left-radius: 3%;
	            border-top-right-radius: 3%;
	            bottom: 0;
	            position: absolute;
	            bottom: 0;
	        }
	        .card-image img {
	            max-width: 300px;
	            max-height: 247px;
	            order: 1;
	            border-top-left-radius: 3%;
	            border-top-right-radius: 3%;
	        }
	        .card-image {
	            position: relative;
	            margin-bottom: -5px;
	        }
	    }